 <div class="animate__animated animate__backInDown">   
       <section class="main" >
          <span class="cartel"> BIENVENIDOS A LA PAGINA DE MATIAS !!!!!!!</span>
       </div>  
        
         </section>

         <section class="galeria" id="galeria">
          <div class="titulo">
        
            <br>
            <br>
            <br>
          </div>
          <div class="titulo1" class="animate__animated animate__backInDown">
            <a href="#" class="btn-neon1">
              <span id="span1"></span>
              <span id="span2"></span>
              <span id="span3"></span>
              <span id="span4"></span>
              GALERIA
          </a>

          </div>
         </div>
          <div class = "galeria-container">
         
        
        <a class="galeria-itens">
                   <img src="/imagenes/6.jpg" alt="Lugar 1">
                 </a>
              <a   class=" galeria-itens">
                  <img src="./imagenes/pua.jpg" alt="Lugar 2">
                 </a>
              <a   class=" galeria-itens">
                 <img src="./imagenes/1.jpg" alt="Lugar 3">
                  </a>
              <a   class=" galeria-itens">
                 <img src="./imagenes/5.jpeg" alt="Lugar 4">
                 </a>
              <a  class=" galeria-itens">
                 <img src=".//imagenes/m1.jpg" alt="Lugar 5">
                 </a>
              <a   class=" galeria-itens">
                 <img src="./imagenes/m2.jpg" alt="Lugar 6">
              </a>
              <a   class=" galeria-itens">
                 <img src="./imagenes/4.jpg" alt="Lugar 7">
              </a>
              <a   class=" galeria-itens">
                 <img src="./imagenes/2.jpg" alt="Lugar 8">
              </a>
       
          </div>
         </section>
        <div class="conteiner">
          <section class="videos" id="covers">
            <br>
            <br>
            <br>
            <br>

            <a href="#" class="btn-neon">
              <span id="span1"></span>
              <span id="span2"></span>
              <span id="span3"></span>
              <span id="span4"></span>
              ALGUNOS COVERS!!!
          </a>
            <br>
            <br>
            <br>
        
             <video  controls src="./videos/meta6.mp4"  type="video/mp4"></video>
               <span class="span">Led Zepellin - Heartbreaker </span>
             <br>
             <br>
             <br>
             <br>
             <video controls src="./videos/VID-20221212-WA0005.mp4"  type="video/mp4"></video>    
             <span class="span">Guns and roses - Think About You</span>
             <br>
             <br>
             <br>
             <br>
            <video controls src="./videos/meta.mp4"  type="video/mp4"></video>  
             <span class="span">Metallica - Fade To Black</span>
             <br>
             <br>
             <br>
             <br>
            <video controls src="./videos/easy.mp4" type="video/mp4"></video>  
            <span class="span">Guns and roses -  It's So Easy</span>
             <br>
             <br>
             <br>
             <br>  
            <video controls src="./videos/michelle.mp4" type="video/mp4"></video>   
            <span class="span">Guns and roses - My Michelle </span>
             <br>
             <br>
             <br>
             <br>
            <video controls src="./videos/mujer.mp4" type="video/mp4"></video> 
             <span class="span">Rata Blanca -Leyenda del Hada y el Mago</span>
             <br>
             <br>
             <br>
             <br>
             <br>
         
          </section>
        </div>